*.DS_Store
venv/
file_data.db
__pycache__/*
*.pyc
/.idea/.gitignore
/dupes.csv
/.idea/jmpydupes.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/test_file_data copy.db
