<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 10px 0;
        }

        th, td {
            padding: 8px 12px;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f4f4f4;
            cursor: pointer;
        }

        input[type="text"] {
            width: 300px;
            padding: 8px;
            margin: 10px 0;
        }

    </style>

    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function() {
                $('form').submit(function(event) {
                    event.preventDefault();
                    var form = $(this);
                    $.ajax({
                        type: "GET",
                        url: form.attr('action'),
                        data: form.serialize(),
                        success: function(data) {
                            $('#fileList').html(data);
                        }
                    });
                });
        
                // Update sorting links for AJAX
                $('th').click(function(event) {
                    event.preventDefault();
                    var url = $(this).find('a').attr('href');
                    $.ajax({
                        type: "GET",
                        url: url,
                        success: function(data) {
                            $('#fileList').html(data);
                        }
                    });
                });
            });

            function openInFinder(filePath) {
                $.ajax({
                    url: '/open_in_finder',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ path: filePath }),
                    success: function(data) {
                        alert(data.message);
                    }
                });
            }
        </script>
    </head>

</head>
<body>
    <h1>{{ title }}</h1>
    <p>Download CSV: <a href="/download">here</a></p>
    <form method="get" action="{{ search_route }}">
        <input type="text" id="searchInput" name="search" value="{{ search_query }}" placeholder="Search by hash or filename">
        <label><input type="checkbox" name="exclude_hidden" value="true" checked> Exclude hidden directories</label>
        <label><input type="checkbox" name="exclude_small" value="true" checked> Exclude files < 10kb</label>
        <br>
        <!-- Dropdown for size filter -->
        <label for="size_filter">Minimum File Size:</label>
        <select name="size_filter" id="size_filter">
            <option value="">No size filter</option>
            <option value="1mb" {% if selected_size_filter == '1mb' %}selected{% endif %}>1 MB</option>
            <option value="10mb" {% if selected_size_filter == '10mb' %}selected{% endif %}>10 MB</option>
            <option value="100mb" {% if selected_size_filter == '100mb' %}selected{% endif %}>100 MB</option>
            <option value="1tb" {% if selected_size_filter == '1tb' %}selected{% endif %}>1 TB</option>
        </select>
        <br>
        <button type="submit">Apply Filters</button>
    </form>

    <h2>Statistics</h2>
    <table>
        <tr><th>Total Bytes</th><td>{{ stats.total_bytes }}</td></tr>
        <tr><th>Total Files</th><td>{{ stats.total_files }}</td></tr>
        <tr><th colspan="2">Top 10 File Types by Size</th></tr>
        {% for ext, size in stats.top_file_types %}
        <tr><td>{{ ext if ext else '[No Extension]' }}</td><td>{{ size }}</td></tr>
        {% endfor %}
    </table>

    <h2>Files</h2>
    <table>
        <thead>
            <tr>
                <th onclick="location.href='{{ sort_urls.hash }}'">Hash</th>
                <th onclick="location.href='{{ sort_urls.path }}'">Filename</th>
                <th onclick="location.href='{{ sort_urls.size }}'">Size</th>
                <th>Last Modified</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td>{{ file[1] }}</td>
                <td>{{ file[2] }}</td>
                <td>{{ file[3] | sizeof_fmt }}</td>
                <td>{{ file[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>